.nav-tabs {
  display: flex;
}

.nav-tab {
  list-style: none;
  margin-right: 10px;
}

.nav-tabs-container {
  display: none;
}

@media (min-width: 600px) {
  .nav-tabs-container {
    display: block;
  }
}